<div class="container">
  <div class="block-cta {{ cta.imagePosition }}">
      <div class="block-cta__image">
        {{ cta.image }}
      </div>
      <div class="block-cta__content {{ cta.bgClasses }}">
        <h2 class="block-cta__title">{{ cta.title }}</h2>
        <div class="block-cta__body">{{ cta.body }}</div>
        <div class="block-cta__link">{{ cta.link }}</div>
      </div>
    </div>
  </div>
</div>
